<div class="container w-50 d-flex justify-content-center" >
<%= form_with model: @event do |form| %>

  <%= form.label 'Date de début' %>
  <%= form.date_field :start_date %>

  <%= form.label 'Durée' %>
  <%= form.number_field :duration, min: 5, step: 5 %>

  <%= form.label 'Titre' %>
  <%= form.text_field :title %>

  <%= form.label 'Description' %>
  <%= form.text_area :description, cols: 20, rows: 5 %>

  <%= form.label 'Prix' %>
  <%= form.text_field :price %>

  <%= form.label 'Ville' %>
  <%= form.text_field :location %>

  <%= form.submit "Modifier l'évenement", class:'btn btn-sm btn-success' %>
  <%end%>
</div>