<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div class="container-fluid text-center">
  <h1>Création d'un événement</h1>
  <%= form_with model: @event do |form| %>
  <div class="mb-3">
    <%= form.label "date de l'événement", class:'form-label' %>
    <%= form.date_field :start_date, class:'w-25 ' %>
  </div>

  <div class="mb-3">
    <%= form.label 'Durée' %>
    <%= form.number_field :duration, class:'w-25' %>
  </div>

  <div class="mb-3">
    <%= form.label 'Titre' %>
    <%= form.text_field :title, class:'w-25' %>
  </div>

  <div class="mb-3">
    <%= form.label 'Description' %>
    <%= form.text_area :description, cols: 50, rows: 5 %>
  </div>

  <div class="mb-3">
    <%= form.label 'Prix' %>
    <%= form.text_field :price, class:'w-25' %>
  </div>

  <div class="mb-3">
    <%= form.label 'Lieu' %>
    <%= form.text_field :location, class:'w-25' %>
  </div>

  <%= submit_tag "Créer l'événement", class:'btn btn-sm btn-success' %>
  <% end %>
</div>

